{# templates/trainer/license.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
  {# {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p>Email: {{ app.user.email }}</p>
  {% endif %} #}

  {# <p>{{ user }}</p> #}

  <h1 class="text-center m-3">Hi Trainer! Your trainer license id is {{ number }}</h1>
{% endblock %}
