{% extends 'base.html.twig' %}

{% block body %}
  <h1>Search Page</h1>

  <div class="text-center pokemon-list">
    {% for pokemon in list %}
      <div class="card" style="width: 10rem;">
        <a href="/pokemon/{{ pokemon.name }}">
          <img src="{{ pokemon.img }}" class="card-img-top" alt="Picture of {{ pokemon.name }}" />
          <div class="card-body">
            <h5 class="card-title">{{ pokemon.name }}</h5>
            {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
